<!DOCTYPE html>
<html lang="<%= I18n.locale %>" class="h-full">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Vox" %></title>
  <meta name="csrf-token" content="<%= form_authenticity_token %>">
  <%= stylesheet_link_tag "tailwind", data: { turbo_track: "reload" } %>
  <%= stylesheet_link_tag "application", data: { turbo_track: "reload" } %>
  <%= javascript_importmap_tags %>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body class="h-full font-inter antialiased bg-slate-50">
  <div class="min-h-full">
    <%= yield %>
  </div>
</body>
</html>
